# .env
# PostgreSQL
DATABASE_URL=postgresql://neondb_owner:npg_3rk0XQtxGJlK@ep-divine-sunset-anffsjay.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require

# Cloudinary
CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret

# Django
SECRET_KEY=secret-key-here(python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())")
DEBUG=True